.about_bg {
    height: 490px;
    background-image: url("../images/webp/about-hero-bg.webp");
    background-size: 100% 100%;
}

.lh_157 {
    line-height: 157% !important;
}

.max_w_1036 {
    max-width: 1036px;
}

.mans_jumping {
    height: 222px;
}

.linear_line {
    max-width: 709px;
    height: 10px;
    border-radius: 30px;
    background-image: linear-gradient(180deg, #41C9C6 0%, #4FA6D3 100%);
}

.team_pics {
    width: 317px;
    height: 317px;
}

.max_w_1566 {
    max-width: 1566px;
}

.bg_light_blue {
    background-color: #F4FFFF;
}

.accordion_box {
    max-width: 1187px;
    padding: 37px 110px 71px 110px;
    border-radius: 5px;
    box-shadow: 18px 10px 34px 0px rgba(5, 5, 5, 0.1);
}

.max_w_715 {
    max-width: 715px;
}
/* accordian */

.accordion-item {
    border: none !important;
}
.accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
    box-shadow: none !important;
}
.accordion-body {
    margin-bottom: 26px;
    border-bottom-left-radius: 16px !important;
    padding:0px 37px  44px !important;
    border-bottom-right-radius: 16px !important;
    background: linear-gradient(180deg, #43C5C8 0%, #4FA6D3 100%) !important;
}

.accordion-button {
    border: none !important;
    margin-bottom: 26px;
    border-radius: 16px !important;
    padding: 37px 43px !important;
    background:  linear-gradient(180deg, #43C5C8 0%, #4FA6D3 100%) !important;
}
.accordion-button::after {
    background-image: url("../images/webp/accordian-vector.webp") !important;
}
.yellow_circle_bg{
    background-color: #FFDEA6;
    height: 123px;
    width: 123px;
    border-radius: 100px;
}
.green_circle_bg{
    background-color: #43C2C8;
    height: 41px;
    width: 41px;
    border-radius: 100px;
}
.orange_circle_bg{
    background-color:#FF9593;
    height: 68px;
    width: 68px;
    border-radius: 100px;
}
.yellow_circle_3{
    bottom:90px;
    right: 110px;
}
.yellow_circle_4{
    left: 64px;
    top: 24%;
}
.green_circle_4{
    bottom: 210px;
    right: 69px;
}
.orange_circle_4{
    bottom: 259px;
    right: 69px;
}
.orange_circle_5{
    top: 33%;
    left:160px;
}
.green_circle_5{
    bottom: 269px;
    left: 85px;
}
.pt_35{
    padding-top: 33px;
}
@media (max-width:1600px) {
    .green_circle_5{
        display: none;
    }
}
@media (max-width:1400px) {
    .pt_35{
        padding-top: 0px;
    }
    .team_pics {
        width: 210px !important;
        height: 230px !important;
    }

}

@media (max-width:992px) {
    .about_bg {
        height: 340px;
    }
    .accordion_box {
        padding: 35px 50px 21px 50px;
    }
    .accordion-body {
        margin-bottom: 16px !important;
        padding:0px 17px  24px !important;
    }
    
    .accordion-button {
        margin-bottom: 16px !important;
      padding: 22px 20px !important;
     }
}

@media (max-width:768px) {
    .team_pics {
        width: 210px !important;
        height: 230px;
    }
    .accordion_box {
        padding: 35px 16px 21px 16px;
    }
    .mans_jumping {
        height: 122px;
    }

    .about_bg{
       height: 240px;
    }
}

@media (max-width:576px) {
    .team_pics {
        width: 210px !important;
        height: 210px;
    }
    .about_bg {
        height: 200px;
        }

    .mans_jumping {
        height: 102px;
    }
}