* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

.nav_container {
    max-width: 1775px !important;
}

.custom_container {
    max-width: 1310px !important;
}

.bg_property {
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------nav-bar------------- */
.icon_hover {
    transition: all 200ms ease-in-out;
}

.icon_hover:hover {
    transform: translateY(-6px);
}

ul {
    padding-left: 0px !important;
}

.cursor_pointer {
    cursor: pointer;
}

.nav_links::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #34A9A1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 200ms all;
}

a:hover {
    color: black !important;
}

.nav_links:hover:after {
    width: 100%;
    color: black !important;
}

.span1_rotate {
    transition: all 600ms linear;
    margin-top: 3px;
    transform: rotate(54deg);
}

.span3_rotate {
    transition: all 600ms linear;
    display: none !important;
}

.span2_rotate {
    transition: all 600ms linear;
    margin-top: -7px;
    transform: rotate(-51deg);
}

.shownav {
    left: 0 !important;
}

.overflow_hidden {
    overflow: hidden !important;
}

.span-icon {
    height: 3px !important;
    background: black;
    display: flex;
    margin-bottom: 4px;
    z-index: 20 !important;
}

/* hero section */
.hero_img {
    padding-bottom: 96px;
    right: -3%;
    width:1041px;
    height: 879px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0px !important;
}

.max_w_558 {
    max-width: 558px;
}

.common_btn {
    transition: all 200ms ease-in-out;
    border: 1px transparent !important;
    background-image: linear-gradient(180deg, #41C9C6 0%, #4FA6D3 100%);
    padding: 15px 50px;
    border-radius: 8px;
    /* box-shadow: 2px 3px #938f8f; */
}

.mission_btn {
    transition: all 200ms ease-in-out;
    border: 1px transparent !important;
    background-image: linear-gradient(180deg, #41C9C6 0%, #4FA6D3 100%);
    padding: 15px 40.2px;
    border-radius: 8px;
}

.common_btn:hover,
.mission_btn:hover {
    transition: all 200ms ease-in-out;
    background: #000 !important;
    /* box-shadow: none !important; */
    transition: all 200ms ease-in-out;
    border: 1px solid #4FA6D3;
}

.hero_decoration_boxes {
    left: -11%;
    top: 15%;
    width: 434px;
    height: 580.82px;
}

.border_btn {
    padding: 11px 35.5px;
    border-radius: 8px;
    border: 1px solid white !important;
}

.border_btn:hover {
    transition: all 200ms ease-in-out;
    background-color: white !important;
    color: #30A59D;
}

/* --------------- authentic connection --------------- */
.mobile_img {
    width: 435.34px;
    height: 820px;
}

.authntic_card {
    max-width: 350px;
}

.max_w_811 {
    max-width: 641px;
}

.orange_circle {
    right:54px;
    top: 23%;
    border-radius: 100px;
    background: #FF9593;
    height: 117px;
    width: 117px;
}

.yellow_circle {
    left: 7%;
    bottom: 11%;
    border-radius: 100px;
    background: #FFDEA6;
    height: 77px;
    width: 77px;
}

/* ------------------  Features  ------------------------ */
.features_bg {
    background-attachment: fixed;
    background-image: url("../images/webp/featurs-bg.webp");
}

.fetures_card {
    transition: all 200ms ease-in-out;
    height: 306px;
    border: 1px solid white;
    border-radius: 22px;
    padding: 82px 16px;
}

.px_cards {
    padding: 17px !important;
}
.orange_circle2 {
    left: 3%;
    bottom: 0%;
    border-radius: 100px;
    background: #FF9593;
    height: 117px;
    width: 117px;
}
.yellow_circle2 {
    right: 5%;
    top: 41%;
    border-radius: 100px;
    background: #FFDEA6;
    height: 77px;
    width: 77px;
}


.fetures_card:hover {
    cursor: pointer;
    background: white;
}

.fetures_card:hover h3 {
    color: #000 !important;
}

.fetures_card:hover .hide_para {
    display: block !important;
}
.card_svg{
    padding: 4px;
    border: 1px solid white;
    border-radius: 50px;
}
.hover_card_svg{
    transform: translateY(4px);
}
.fetures_card:hover .card_svg{
  border: 1px solid #44C2C9;
}
.fetures_card:hover .card_svg svg path {
    fill: white !important;
}

.fetures_card:hover .card_svg svg path {
    fill: white !important;
}

.fetures_card:hover .card_svg svg circle {
    fill: #43C3C8 !important;
}

/* carzy level */
.slider_box {
    max-width: 100%;
    width: 1239px;
    height: 391px;
    border-radius: 5px;
    box-shadow: 18px 10px 34px 0px rgba(5, 5, 5, 0.1);
}
.slick-dots {
    bottom: 40px !important;
}
.though_bg {
    background-image: url("../images/webp/thought-bg.webp");
    width: 968px;
    height: 139px;
    max-width: 100% !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.sam_img{
  
    margin-right: 37px;
    width: 89px;
    height: 89px ;
}
/* --------------bridge work------------- */
.hand_mobile {
    background-image: url("../images/webp/hand-mobile.webp");
    height: 764px;
}
.mx_xxl_9{
    margin-left: 11px !important;
    margin-right: 11px !important;
}
.coffee_cup {
    background-image: url("../images/webp/coffee-cup.webp");
    height: 764px;
    background-position: center;
}

.enjoy_selfie {
    background-image: url("../images/webp/enjoy-selfie.webp");
    height: 764px;
    background-position: center;
}

.max_w_661 {
    max-width: 460px;
}

.footer_bg {
    height: 400px;
    background-image: url("/assets/images/webp/footer-bg.webp");
}
.slick-dots li.slick-active button:before {
    margin-top: 1px !important;
    color: #30A59D !important;
    font-size: 16px !important;
    opacity: 1 !important;
    width: 18px !important;
    height: 18px !important;
    border: transparent !important;
}
.text_lg_sm{
    font-size: 16px;
}
.slick-dots li button:before {
    line-height: 14px !important;
    width: 14px !important;
    height: 14px !important;
    opacity: 1 !important;
    color: transparent !important;
    border-radius: 15px !important;
    border:  1px solid black !important;
}
.gap_30{
    gap: 30px;
}
@media (max-width:1600px) {
    .yellow_circle2 {
        right: -1%;
    }
    .orange_circle2 {
        left: -3%;
    }
    .blog_logo{
        margin-left: 0px  !important;
    }
    .hand_mobile {
     background-position: center;
    }
    .text_md_6xl{
        font-size: 54px !important ;
    }
    .hero_decoration_boxes {
        left: -10%;
        top: 15%;
        width: 275px;
        height: 350.82px;
    }
    .hero_img {
        padding-bottom: 0px;
        width: 828px;
        height: 740px;
    }
    .yellow_circle {
        display: none !important;
    }
    .mx_xxl_9{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media (max-width:1400px) {
    .mobile_img {
        width: 326.34px;
        height: 595px;
    }
    .lh_195{
        line-height: 195%;
    }
    .hero_decoration_boxes {
        display: none;
    }

    .max_w_558 {
        max-width: 790px;
    }

    .text_md_6xl {
        font-size: 74px !important;
    }

    .text_md_2xl {
        font-size: 24px !important;
    }

    .hero_img {
        display: none !important;
    }

    .hero_bg {
        background-image: url("../images/webp/hero-md-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text_md_white {
        color: white !important;
    }
}

@media (max-width:991.9px) {
    .hero_bg {
        background-image: url("../images/webp/hero-lg-bg.webp");
        background-size: 100% 100%;
    }

    .small_screen_links{
        transform: translateY(80px);
    }
    .text_lg_sm{
        font-size: 18px;
    }
    .though_bg {
        border-radius: 20px !important;
        width: 100%;
        background-size: center;
    }
    .slider_box {
        max-width: 100%;
        width: 1239px;
        height: 301px;
        border-radius: 5px;
        box-shadow: 18px 10px 34px 0px rgba(5, 5, 5, 0.1);
    }
    .logo {
        z-index: 100 !important;
        height: 33px;
        width: 39px;
    }

    .nav_bar {
        height: 55px !important;
        background-color: white !important;
    }

    .icons_black path {
        fill: #000 !important;
    }

    .icons_black path {
        stroke: #000 !important;
    }

    .text_md_6xl {
        font-size: 64px !important;
    }

    .text_md_2xl {
        font-size: 20px !important;
    }

    .nav-bar-sm {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        font-size: 18px !important;
        background: white;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 300ms;
        z-index: 100;
    }

    .click_box {
        height: 10px;
        width: 25px;
        z-index: 110;
    }
}

@media (max-width:768px) {
    .gap_30{
        gap: 17px;
    }
    .slick-dots {
        bottom: 20px !important;
    }
    .hand_mobile,
    .coffee_cup,
    .enjoy_selfie {
        height: 464px;
    }
}

@media (max-width:576px) {
     .though_bg {
        border-radius: 20px !important;
        width: 100%;
        background-size: 100% 100%;
    }
    .sam_img{
        margin-left: 30px;
        margin-right: 10px;
        width: 59px;
        height: 59px ;
    }
    .footer_bg {
        height: 250px;
    }
    .mobile_img {
        width: 296.34px;
        height: 518px;
    }

    .hero_bg {
        background-image: url("../images/webp/hero-sm-bg.webp");

    }

    .text_md_6xl {
        font-size: 48px !important;
    }

    .text_md_2xl {
        font-size: 18px !important;
    }
}
